.blog-container{
    width: 100%;
    height: auto;
    padding: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}