.fav-card-sec {
  width: 95%;
  margin: auto;
}

.no-fav-msg {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.recipes-container{
    width: 100%;  
}
.download-btn,.remove-btn{
  width: 100%;
  padding: 0.5rem;
  color: #ebb22f;
  background-color: white;
  border: #ebb22f 2px solid;
  border-radius: 8px;
  
}
.remove-btn{
  margin-top: 2%;
}
.download-btn:hover,.remove-btn:hover{
  background-color: #ebb22f;
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease;
}


/* .remove-btn {
  margin-top: 0.5rem;
  display: block;
  padding: 0.4rem 1rem;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
