.popular-tags-section{
    width: 100%;
    height: auto;
    padding: 70px 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../Assets/Images/default.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.popular-tags-section h2{
    font-size: 50px;
    font-weight: 700;
    color: #EBB22F;
    margin-bottom: 2%;
}
.popular-tags-section p{
    font-size: 20px;
    font-weight: 400;
    color: gray;
    margin-bottom: 3%;
}
.tags-container{
    width: 95%;
    height:auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.tags-container-2{
    width: 85%;
    height:auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.tag-pill{
    width: auto;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #f6f5f4a6;
    color: #EBB22F;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #EBB22F;
    margin-bottom: 10%;
    font-size: 15px;
}
.tag-pill:hover{
    background-color: #EBB22F;
    color: #FFFFFF;
}
.tags-container a{
    text-decoration: none;

}
.tags-container-2 a{
    text-decoration: none;
}
